.cmp-teaser__action-link {
    background-color: #fff;
}
.cmp-title--underline .cmp-title .cmp-title__text:after {
    border-bottom: 2px solid #ffea00;
}
h2{
    font-family: Asar,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    margin-top: 27px;
    margin-bottom: 13.5px;
    line-height: 1.5;
    color: #fff;
}
h3,p, .cmp-title__text,cmp-tabs__tab,.rect-card .cmp-teaser__content .cmp-teaser__title{
  color: #fff;
}
.text-img-two-column.grey .cmp-teaser__content {
  background-color: #202020;
}
.cmp-accordion__header{
 background-color: #fff;
}
.cmp-title--underline .cmp-title .cmp-title__text:after {
    border-bottom: 2px solid #fff;
}
@media (min-width: 1165px){
    .cmp-teaser--hero .cmp-teaser__content {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.cmp-button--primary .cmp-button {
    background-color: #fff;
}
.cmp-accordion {
    [data-cmp-expanded] > .cmp-accordion__header{
         background-color: #fff;
        }
}
.cmp-tabs .cmp-tabs__tab--active {
    border: none;
    background-color: #fff;
    color: #000;
}
.cmp-tabs__tab{
 color: #fff;
}
.cmp-carousel__action {
    padding: 3px 11px;
    border: 1px solid #ffea00;
}
header.experiencefragment {
    .cmp-navigation__item--active > .cmp-navigation__item-link {
        font-weight: bold;
        background-color: rgba(0,0,0,.8);
        color: white;
        padding: 20px;
    }
    .cmp-navigation__item-link:hover {
        background-color: rgba(0,0,0,.8);
        color: white;
    }
}
.cmp-carousel__action {
    padding: 3px 11px;
    border: 1px solid #fff;
}
body {
    background:#000;
}


